/* Global CSS */
.task-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px; /* gutter size offset */
    width: auto;
  }
.task-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}
.task-masonry-grid_column > div {
  margin-bottom: 16px;
}
.MuiGrid-item {
  align-self: center;
}
.Logo-sm {
  height: 100%;
  width: 120px;
}

.Logo-md {
  height: 100%;
  width: 160px;
}
